* {
  margin: 0;
  padding: 0;
}

:root {
  --color-white: #ffffff;
  --color-grey0: #f8f8f8;
  --color-gray1: #dbe1e8;
  --color-gray2: #b2becd;
  --color-gray3: #6c7983;
}

.netflix {
  background: url(../IMG/neflix.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  line-height: 4rem;
}

.net-bg {
  position: absolute;
  background: rgba(0, 0, 0, 0.03);
  height: 100%;
  width: 100%;
}

img {
  margin-top: 15px;
  margin-left: 20px;
  width: 150px;
}

.main {
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--color-white);
  margin-left: 20px;
  cursor: pointer;
}

.main h3 {
  color: var(--color-white);
  font-size: 4rem;
  font-weight: 700;
}

.main p {
  font-family: "Roboto", sans-serif;
  color: var(--color-white);
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.main button {
  height: 5vh;
  width: 20vw;
  background: red;
  color: var(--color-white);
  text-transform: capitalize;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
}
